a.view-all {
    left: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 20;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    broder-radius: 0 0 5px 5px;
    position: relative;
    display: block;
}

.bg-blue {
    background-color: #38a9ff;
}

.bg-purple {
    background-color: #7c5ac2;
}